body {
  background-color: lightblue;
}

.form-container {
  background-color: #d9d9d9;
  text-align: center;
  margin: 10rem auto;
  position: relative;
  border: 1px solid black;
  padding: 2rem;
  border-radius: .5rem;
  width: 600px;
  max-width: 600px;
}

.paginator {
  position: absolute;
  top: .5rem;
  right: .5rem;
}

.buttons {
  display: flex;
  margin-top: 1rem;
  gap: .5rem;
  justify-content: flex-end;
}

.form-wrapper {
  min-width: 400px;
  min-height: 425px;
}

.wrapper-header {
  text-align: center;
  margin: 0 0 2rem 0;
}

.wrapper-children {
  /* display: grid;
  gap: 1rem .5rem;
  justify-content: flex-start;
  grid-template-columns: auto minmax(auto, 400px); */
}
